extends shared/layout-logged

block main-content
  div(style="padding-left: 20px")
    div.logosContainer
      each logo in logoes
        div.logoContainer
          a.logoLink
            img.logoImg(src= logo.path, alt= logo.name)
  br
  div
    .container-fluid
  .row.content(style="margin-left: 5px")
    .col-sm-3
      .input-group.search
        input.form-control.search-space#search(type="text", placeholder="Search...")
        span.input-group-btn
          button.btn.btn-default(type="button")
            span.glyphicon.glyphicon-search
      ul.nav.nav-pills.nav-stacked.items-list#ulList
        each term in terms
          li
            a.current-term-title= term.title
      .row
        .add-menu.dropup
          a#dict-add.btn.btn-primary.col-md-3.btn.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Add
          .dropdown-menu
            form#add-form(method="post", action="/add")
              label.add-label
                h5 Title:
              .row(style="margin-left: 3px")
                input#tb-title.tb-title.form-control.col-md-8(name="title", placeholder="Title of the term...")
                select.col-md-4(name="tag")
                  option html
                  option css
                  option bootstrap
                  option less
                  option sass
                  option stylus
                  option javascript
                  option jquery
                  option typescript
                  option angular
                  option react
                  option nodejs
                  option express
                  option mongodb
              label.add-label
                h5 Description:
              textarea#tb-description.text-field.text-area.form-control(name="description", type="text", placeholder="Description of the term...")
              label.add-label
                h5 Examples (set an url):
              input#tb-example.text-field.form-control(name="examples", type="url", placeholder="http://www.github.com")
              label.add-label
                h5 More information link (set an url):
              
              input#tb-info.text-field.form-control(name="info", type="url", placeholder="http://www.w3schools.com")
              label.add-label
                h5 Image info (set an url):
              input#tb-image-info.text-field.form-control(name="image", type="url", placeholder="http://www.picture-organic-clothing.com/")
              
              input#btn-add-item.btn-save.btn.btn-default.btn-md(type="submit", value="Save")
          a#dict-delete.btn.btn-danger.col-md-3(href="/delete") Delete
          a#dict-edit.btn.btn-success.col-md-3(href="/edit") Edit
      hr

    .col-sm-9
      .title
        .title-value
          p.term-name(style="margin-right: 17em")= currentTerm.title
      .row
        .col-md-6
          textarea.term-definition.text= currentTerm.description
        .col-md-6
          img(src=currentTerm.image, alt="image info", style="width: 440px; height: 360px")
      .row
        .col-md-6
          a.examples.links(href=currentTerm.examples, target="_blank") Examples
        .col-md-6
          a.term-more.links(href=currentTerm.info, target="_blank") More information
