extends shared/layout-logged

block main-content
  div(style="padding-left: 20px")
    div.logosContainer
      each logo in logoes
        div.logoContainer
          a.logoLink
            img.logoImg(src= logo.path, alt= logo.name)
  br
  div
    .container-fluid
  .row.content(style="margin-left: 5px")
    .col-sm-3
      .input-group.search
        input.form-control(type="text", placeholder="Search...")
        span.input-group-btn
          button.btn.btn-default(type="button")
            span.glyphicon.glyphicon-search
      ul.nav.nav-pills.nav-stacked.items-list
        each term in terms
          li
            a.current-term-title= term.title
      hr
      .row
        .add-menu.dropup
          a#dict-add.btn.btn-primary.col-md-3.btn.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Add
          .dropdown-menu(style="min-width: 100%; max-width: 100%; min-height: 400px; max-height: 495px; font-size: 28px;")
            form#add-form(method='post', action='/add')
              label.add-label(for='tb-title', style='margin-left: 1%')
                h5 Title:
              .row(style="margin-left: 3px")
                input#tb-title.form-control.col-md-8(name='title', type='text', placeholder='Title of the term...', style='min-width: 60%; max-width: 60%; margin: 1%')
                select.col-md-4(name="tag", style="margin-top: 5px; min-height: 30px; max-width: 32%; font-size: 18px")
                  option html
                  option css
                  option bootstrap
                  option less
                  option sass
                  option stylus
                  option js
                  option jquery
                  option ts
                  option angular
                  option react
                  option nodejs
                  option express
                  option mongodb
              label.add-label(for='tb-description', style='margin-left: 1%')
                h5 Description:
              textarea#tb-description.form-control(name='description', type='text', placeholder='Description of the term...', style='min-width: 98%; max-width: 98%; min-height: 120px; max-height: 120px; margin: 1%')
              label.add-label(for='tb-example', style='margin-left: 1%')
                h5 Examples (set an url):
              input#tb-example.form-control(name='examples', type='url', placeholder='http://www.github.com', style='min-width: 98%; max-width: 98%; margin: 1%')
              label.add-label(for='tb-info', style='margin-left: 1%')
                h5 More information link (set an url):
              
              input#tb-info.form-control(name='info', type='url', placeholder='http://www.w3schools.com', style='min-width: 98%; max-width: 98%; margin: 1%')
              label.add-label(for='tb-image-info', style='margin-left: 1%')
                h5 Image info (set an url):
              input#tb-image-info.form-control(name='image', type='url', placeholder='http://www.picture-organic-clothing.com/', style='min-width: 98%; max-width: 98%; margin: 1%')
              
              input#btn-add-item.btn.btn-default.btn-md(type='submit', value='Save', style='min-width: 93%')
          a#dict-delete.btn.btn-danger.col-md-3(href='#') Delete
          a#dict-edit.btn.btn-success.col-md-3(href='#') Edit
      hr

    .col-sm-9
      .title
        .title-value
          p.term-name= currentTerm.title
      .row
        .col-md-6
          textarea.term-definition.text= currentTerm.description
        .col-md-6
          img(src=currentTerm.image, alt="image info", style="width: 440px; height: 360px")
      .row
        .col-md-6(style="margin-top: -15px;")
          br
          a.term-more.links(href=currentTerm.info, target="_blank") More information
        .col-md-6(style="margin-top: -15px;")
          br
          a.examples.links(href=currentTerm.examples, target="_blank") Examples
